RewriteEngine on
RewriteRule . index.php
RewriteRule ^sitemap.xml$ %{DOCUMENT_ROOT}/media/sitemap.php [L,NC,QSA]

Options -Indexes
ErrorDocument 403 /media/404.html
ErrorDocument 404 /media/403.html