
/*** Doplnky ***/
* {margin: 0; padding: 0;}
.cleaner {clear: both;}
.left {float: left;}
.right {float: right;}

/*** Základné elementy ***/
strong {color: #666; font-weight: normal; font-family: "Verdana", Tahoma, Georgia, sans-serif; font-size: 12px;}
strong a {text-decoration: none; color: #3588ae; font-size: 22px;}
strong a:hover {color: #444;}
h3 {font-family: Verdana, sans-serif; font-size: 14px; color: #444;}
p {font-size: 14px; font-family: "Segoe UI", Tahoma, Verdana, Arial, sans-serif; padding: 0 4px 8px; }
a { color: #333; }
a:hover { color: #666; text-decoration: none; }
label {font-family: Verdana; font-size: 12px; color: #444;}
#lostpass {font-family: Verdana; font-size: 12px; color: #444; margin: 8px 0; display: inline-block;}
#lostpass:hover {color: #444;}

/*** Body ***/
body {background: #5e758b;}

/*** Content ***/
#container { margin: 180px auto 0; width: 100%; }
#content { border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; box-shadow: 0 0 25px 5px #333; -moz-box-shadow: 0 0 25px 5px #333; -webkit-box-shadow: 0 0 25px 5px #333; background: #fff; margin: 0 auto; padding: 25px 35px 0; width: 350px; }

/*** Formuláre ***/
input[type="text"], input[type="password"] {  background: #f9f9f9; border: 1px solid #ddd; font-family: "Verdana", Geneva, sans-serif; font-size: 22px; color: #666; padding: 4px; margin: 5px 0 20px; width: 350px; }
input[type="submit"] { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; float: right; background: #333 url('../admin/remote/bg.png') repeat-x left top; font-family: "Verdana", Tahoma, Geneva, sans-serif; font-weight: bold; color: white; padding: 5px 10px 6px; cursor: pointer; margin-left: 5px; border: none; }
input[type="submit"]:hover { background-color: #5c95b0; -webkit-box-shadow: 0 0 2px #5c95b0; }

/*** Footer ***/
#footer { text-align: center; padding: 20px 0 10px; }
.footer { font-size: 10px; color: #666; }
.error { font-weight: bold; color: red; text-align: center; }
.success { font-weight: bold; color: green; text-align: center; }