#opiner-text{background:#eff6fa;-moz-border-radius:7px;-webkit-border-radius:7px;border:1px solid #cadce6;}
#opiner-text-toolbar{border-bottom:1px solid #cadce6;margin:5px;padding:2px;}
#opiner-text-toolbar input{border:1px solid #cadce6;background:white;-moz-border-radius:5px;-webkit-border-radius:5px;padding:3px;}
#opiner-text-area{background:white;margin:5px;width:auto;width:98%;padding:3px; height: 300px;}